.App{
  text-align: center;
}

.post{
  background: rgb(0, 119, 178);
  color: #fff;
  padding: 30px;
  margin: 30px;
}
.user{
  width: 50%;
  margin: 50px auto;
  background-color: #050545;
  padding: 30px;
  color: #fff;
}
.active{
  background-color: #050545;
  color: #fff;
  padding: 10px;
}
.navLink{
  padding: 40px 0;
}
.navLink a{
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  margin: 10px;
}